section.main-content
  .container
    .row
      .col-lg-12
        h1 FAQs
        #accordion.panel-group
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#collapseOne") How does the device work?
            #collapseOne.panel-collapse.collapse.in
              .panel-body
                p The device is like a stethoscope and doctor, it listens to one's breathing over the period of 30 seconds to detect the presence of wheeze.1 The AirSonea™, which has a very sensitive sensor, is placed over the windpipe and records the user’s breathing for 30 seconds. The recording is then digitalized and sent to the AsthmaSense® Cloud portal for analysis (detection and quantification of wheeze, an important sign of airway restriction and obstruction in asthma). Unlike a stethoscope, the AirSonea device is tuned to be sensitive to higher pitched wheeze sounds, some inaudible to the human ear, making the system ideal to detect abnormal breathing.
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo") What does WheezeRATE™ mean?
            #collapseTwo.panel-collapse.collapse
              .panel-body
                p WheezeRATE is the percentage of time that wheezing was found to occupy during the specific measuring period; When using AirSonea, this period of time is 30 seconds. No exact meaning can be associated with WheezeRATE without other information. Your physician can help you understand the meaning of your WheezeRATE and how to manage your asthma.
          
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="#collapseThree") What's a normal WheezeRATE?
            #collapseThree.panel-collapse.collapse
              .panel-body
                p Wheezing is not normal, so a normal WheezeRATE is zero. Any WheezeRATE indicates the presence of abnormal breath sounds, pathology and airway restriction. Monitoring and documenting your WheezeRATE can take the guesswork out of how much you are wheezing. Wheeze amounts can be important to your physician as he develops and reviews your Asthma Action Plan.      