.phone-frame.stickytop.hidden-xs
  img.img-responsive(src="../assets/img/iphone-no-shadow.png", alt="iphone-trans")
.iPhone.stickytop-screen.hidden-xs
.eighthundred
  h5 Need Help? 
    a(href="tel:+1-800-476632") 1-800-iSonea

section.register
  .absolute-container
    .container.step
      h1.startas Let's Get Started!
      h3 Step 1
      h1 Register Your AirSonea&trade; Device
      p After you register your device you will recieve an email to confirm a registration followed by an email with a link to download 2 apps for free apps.
      a.btn.btn-primary.btn-lg(href="#registerModal", data-toggle="modal") Register Your Device

section.download
  .absolute-container
    .container.step
      h3 Step 2
      h1 Download
      p Make sure you've downloaded the required apps.  If you haven't downloaded the apps, the links below will take you to the download of your choice
      a.appdownload(href="https://play.google.com/store/apps/details?id=com.ezasia.isonea&hl=en")
        img(src="../assets/img/googleplay.png", alt="googleplay")
      a.appdownload(href="https://itunes.apple.com/us/app/asthmasense/id529799477?mt=8")
        img(src="../assets/img/appstore.png", alt="appstore")

section.measure
  .absoluted-container
    .container.step
      h3 Step 3
      h1 Power On
      p To take your first measurement, power on the AirSonea Device by sliding the 
        span.powerslide Power&nbsp;Slide&nbsp;Button
      ul
        li To pair the AirSonea device, you will need navigate to the Bluetooth settings on your smartphone. 
        li This should activate the AirSonea App on your phone.  If not see 
          a(href="../faq") troubleshooting.
        li The AirSonea device should now be "paired"

section.measurement
  .absoluted-container
    .container.step
      h3 Step 4
      h1 Your First Measurement
      p To start the measurement, place the AirSonea device to the side of your throat and breathe normally through an open mouth.
      p.hint (Tap <strong>HINT</strong> in your app for directions on where to place the device.)
      p Swipe the start button in the center of the phone screen to start.
      
section.countdown
  .absoluted-container
    .container.step
      h3 Step 5
      h1 Countdown
      p The AirSonea app will countdown to the end of your screening.
      p Your WheezeRATE&trade; data will be transmitted.

section.prompt
  .absoluted-container
    .container.step
      h3 Step 6
      h1 AsthmaSense&reg; Cloud
      p AirSonea will prompt AsthmaSense Cloud to open and record your WheezeRATE.

section.finished
  .absoluted-container
    .container.step
      h1 Your Personal Asthma Security System is now fully setup.
      h3 By monitoring your wheeze, you can now start managing your asthma worries.
      p Share information with your physician and do not delay treatment to record your WheezeRATE.
    
.section-bg
  .arrow-wrap
    .arrow-down
.block
.section-bg-white
  .arrow-wrap
    .arrow-down		
.block
.section-bg
  .arrow-wrap
    .arrow-down
.block
.section-bg-white
  .arrow-wrap
    .arrow-down	
.block	
.section-bg
  .arrow-wrap
    .arrow-down
.block
.section-bg-white
  .arrow-wrap
    .arrow-down	
.block	
.section-bg
  .arrow-wrap
    .arrow-down
section.head	
section.first
section.second
section.third
section.fourth
section.fifth

